.form_container{

    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
    grid-template-columns: 1fr; 
    margin-top: 100px;
}

@media (width >=768px) {
    .form_container {
    
      max-width: 30%;
  
    }
  }