.contenedor {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
    grid-template-columns: 1fr; 
    margin-top: 60px;
  }



@media (width >=768px) {
  .contenedor {
  
    max-width: 95%;

  }
}